<div class="dialog-overlay"></div>
<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">Update Password</h2>
    <button class="close-button" (click)="closeProfile()"><i class="fa fa-times"></i></button>
  </div>

  <div class="dialog-content">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="label_style" for="currentpassword">
            Current Password
          </label>
          <div class="password-input">
            <input
              type="{{ showCurrentPassword ? 'text' : 'password' }}"
              class="form-control"
              [(ngModel)]="changePassword.currentPassword"
            />
            <i
              class="fas"
              [ngClass]="{
                'fa-eye': showCurrentPassword,
                'fa-eye-slash': !showCurrentPassword
              }"
              (click)="togglePasswordVisibility('current')"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-2">
        <div class="form-group">
          <label class="label_style" for="changepassword">
            New Password
          </label>
          <div class="password-input">
            <input
              type="{{ showChangedPassword ? 'text' : 'password' }}"
              class="form-control"
              [(ngModel)]="changePassword.newPassword"
            />
            <i
              class="fas"
              [ngClass]="{
                'fa-eye': showChangedPassword,
                'fa-eye-slash': !showChangedPassword
              }"
              (click)="togglePasswordVisibility('changed')"
            ></i>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-2">
        <div class="form-group">
          <label class="label_style" for="reenterpassword">
            Confirm New Password
          </label>
          <div class="password-input">
            <input
              type="{{ showReenterPassword ? 'text' : 'password' }}"
              class="form-control"
              [(ngModel)]="changePassword.reEnterNewPassword"
            />
            <i
              class="fas"
              [ngClass]="{
                'fa-eye': showReenterPassword,
                'fa-eye-slash': !showReenterPassword
              }"
              (click)="togglePasswordVisibility('reenter')"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      class="{{ showMismacthError ? 'password-Mismatch' : 'password-Match' }} "
    >
      *New Password Mismatch
    </div>
    <div class="dialog-footer">
      <button class="update-button px-3 py-2" (click)="UpdatePassword()">
        Update
      </button>
    </div>
  </div>
</div>
