.table thead {
  // padding: ;
  background: #e5e5fb;
  box-shadow: inset 0px -1px 0px #edf2f7;
}

.table thead th {
  padding: 15px 10px;
  font-family: "Inter";
  background: #e5e5fb;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #606771;
  border-bottom: 1px solid #edf2f7;
}
.table tbody tr {
  border-bottom: 1px solid #edf2f7;
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.5 ); /* Semi-transparent black background color */
  z-index: 9998; /* Make sure it's behind the popup */
  backdrop-filter: blur( 1px ); /* Optional: add a blur effect to the background */
}

.dialog-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 50%;
  // max-width: 52rem;
  z-index: 9999;
  // overflow-y: auto;
  border-radius: 16px;
}

.dialog-content {
  margin-bottom: 2rem;
}

.link_style_notactive {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 57px;
  color: #a0a0a0;
}

.link_style_active {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 5px solid #095f8f;
  color: #095f8f;
}

.button-close {
  margin-top: -54px;
  margin-right: -9px;
}

.button-close:focus {
  box-shadow: none;
}

.label_style {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #373131;
}

.form-control {
  // height: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 0px 2px rgba(76, 111, 255, 0.3);
  border-radius: 6px;
}

.save-button {
  height: 46.38px;
  left: 747.26px;
  top: 915.41px;
  background: #095f8f;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.radio-wrapper input[type="radio"] {
  margin-right: 0.5rem;
}

/* Your component's CSS file */
.table-container {
  max-height: 300px; /* Set the maximum height for the table */
  overflow: auto; /* Enable vertical scrolling for the table */
}

th {
  // position: sticky;
  top: 0;
  background-color: #ffffff; /* Set a background color for the sticky header */
  // z-index: 1; /* Ensure the header is above the table body */
}


/* Style for expanded rows */
.expanded-row {
  background-color: #f0f0f0;
}

/* Style for collapsed rows */
.collapsed-row {
  background-color: #ffffff;
}

/* Style for the toggle button */
.toggle-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}
