<div class="d-flex">
  <div class="w-100 ms-5">
    <table style="width:100%">
      <tr class="table-wid">
        <td class="head">Postion :</td>
        <td>{{employeeDetail.position}} </td>
        <td class="head">Department :</td>
        <td>{{employeeDetail.department}}</td>
      </tr>
      <tr class="table-wid">
        <td class="head">Supervisor :</td>
        <td class="alex">{{employeeDetail.supervisor}}</td>
        <td class="head">Team :</td>
        <td>{{employeeDetail.team}}</td>
      </tr>
      <tr class="table-wid">
        <td class="head">Office : </td>
        <td>{{employeeDetail.office}}</td>
        <td class="head">Employment Type :</td>
        <td>{{employeeDetail.employmentType}}</td>
      </tr>
      <tr class="table-wid">
        <td class="head">Experience :</td>
        <td>{{employeeDetail.experience}}</td>
        <td class="head">Qualification :</td>
        <td>{{employeeDetail.qualification}}</td>
      </tr>
      <tr class="table-wid">
        <td class="head">Hire Date</td>
        <td>{{employeeDetail.hireDate}}</td>
        <td class="head">Contract Ends :</td>
        <td>{{employeeDetail.contractEnd}}</td>
      </tr>
      <tr class="table-wid">
        <td class="head">Work Type</td>
        <td>{{employeeDetail.workType}}</td>
      </tr>
    </table>
  </div>
  </div>
