.main-page {
    background-color: white;
    width: 100%;
    height: 85vh;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
  
  }
  
  .main-up-1 {
    width: 50%;
  }
  
  .main-up-2 {
    width: 20%;
  }
  
  .main-up-3 {
    width: 30%;
    justify-content: end;
  }
  
  .hero-img {
    width: 139.95px;
    height: 139.95px;
    left: 395.92px;
    top: 179.5px;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 22%;
  
  }
  
  .hero-info {
  
    margin-top: 6%;
    margin-left: 15%;
  }
  
  .location {
    margin-top: 9%;
  }
  
  .btn {
    background-color: white;
    color: black;
    border-color: black;
  }
  
  .arrow {
    margin-top: 3%;
    margin-left: 2%;
  
  }
  
  .buttons {
    margin-top: 2%;
  }
  
  .btn {
    margin-right: 13px;
  }
  
  .info {
    margin-left: 8%;
  }
  
  .link_style_active {
    width: 218.15px;
    height: 51px;
    left: 387.1px;
    top: 353.73px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 5px solid #095F8F;
    color: #095F8F;
  }
  
  .link_style_notactive {
    width: 48.9px;
    height: 51px;
    left: 656.91px;
    top: 353.73px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 57px;
    color: #A0A0A0;
  }
  
  .link-margin {
    margin-left: 10%;
  }
  
  .name-hero {
    width: 74.18px;
    height: 24px;
    left: 570.98px;
    top: 180.52px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  
    color: #373131;
  
  }
  
  .passion {
    width: 130px;
    height: 23px;
    left: 570.98px;
    top: 219.83px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  
    color: #8A8A8A;
  }
  
  .icons {
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 12.5%;
    color: #373131;
  }
  
  .mail {
    width: 141.69px;
    height: 23px;
    left: 604.97px;
    top: 258.14px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  
    color: #4C81EF;
  }
  
  .number {
    width: 107.25px;
    height: 23px;
    left: 606.64px;
    top: 296.45px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  
    color: #8A8A8A;
  }
  
  td {
    width: 82.44px;
    height: 70px;
    left: 632.73px;
    top: 439px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  
    color: #8A8A8A;
  
  }
  

  
  .table-wid {
    margin-bottom: 30px;
  }
  
  .alex {
    width: 75.67px;
    height: 23px;
    left: 639.49px;
    top: 537.06px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  
    color: #418CFD;
  
  }
  .head {
    height: 21px;
    left: 387.59px;
    top: 439px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #373131;
  }
  th{
    width: 120px;
  }
  td{
    width: 346.5px;
  }