table th{
    width: 310px;
    height: 80px;
}
table td{
    width: 1076px;
}

.data{
    left: 645.16px;
top: 537.06px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}