<div class="dialog-overlay"></div>
<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">Confirm Deletion</h2>
    <button class="close-button" (click)="ClosePopup(false)">Close</button>
  </div>
  <div class="dialog-content">
    <p class="sure-text">
      Are you sure you want to delete? This action cannot be undone.
    </p>
  </div>
  <div class="dialog-footer">
    <button
      class="btn btn_submit text-white fw-bold px-5"
      (click)="ClosePopup(true)"
    >
      Yes
    </button>
  </div>
</div>
