<!-- hero -->
<div class="container-fluid bg-white">
  <div class="row body d-flex">
    <div class="d-flex flex-column col-lg-6 mt-5">
      <div class="mr-auto ms-5 mt-3">
        <p class="top-heading">Easily Manage</p>
      </div>
      <div class="ms-5">
        <p class="top-short-description">Your Employee</p>
      </div>
      <div class="top-description mx-5 mt-4">
        HRMS is a complete plateform that helps you Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Donec semper nulla sapien, id feugiat elit
        eleifend ac. Mauris semper fermentum tempus. In congue pellentesque
        diam, quis feugiat mi congue ve
      </div>
      <!--<div class="col-12 ms-5">
                <button [routerLink]="['/auth/signup']" class="btn btn2_signup mt-5 px-5">Sign Up</button>
            </div>-->
    </div>
    <div class="d-flex col-lg-6 mt-5">
      <img
        src="assets/images/frame.svg"
        class="img-fluid mr-3 body_img"
        alt="Responsive image"
      />
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <p class="popular_companies">Popular Companies</p>
  </div>

  <!-- slider -->

  <!-- <div>
    <ngb-carousel>
      <ng-template  ngbSlide class="sliderrr">
        <div class="picsum-img-wrapper sliderrr">
          <img src="../../assets/images/slider/amazone.svg" alt="Random first slide" />
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/slider/apple.svg" alt="Random first slide" />
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/slider/google.svg" alt="Random first slide" />
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/slider/netflex.svg" alt="Random first slide" />
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/images/slider/twitter.svg" alt="Random first slide" />
        </div>
      </ng-template>
   
    
    </ngb-carousel>
    
   </div> -->
</div>

<div class="d-flex flex-column align-items-center bg-white mb-5 mr-0">
  <img
    src="assets/images/infographic.svg"
    class="img-fluid"
    alt="Responsive image"
  />
</div>
<div class="row d-flex footer">
  <div class="d-flex flex-column col-lg-6 mt-5">
    <div class="job_posting mb-5 ms-5">Job Posting System</div>
    <div class="hire_talent ms-5">Hire Talent Over The World</div>
  </div>
  <div class="d-flex flex-column col-lg-6 mt-5">
    <img
      src="assets/images/footer_img.svg"
      class="img-fluid footer_img"
      alt="Responsive image"
    />
  </div>
</div>
